.navSection ul li a{
    text-decoration: none;
}
.navSection ul{
    list-style: none;
}

.btnlogin{
    background-color: #3CC5BE;
    color: white !important;
    font-weight: bold;
    font-size: 12px;
    width: 120px;
}
.btnlogin:hover{
    background-color: #1F2B45;
    
}
.mainhead1{
    font-size: 3.5rem;
    font-weight: bold;
}
.mainhead2{
    color:#3CC5BE;
    font-size: 1.8rem;
    font-weight: 600;
}
.herosec{
    background-image: url('./images/heroBack.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    padding-bottom: 70px;
    padding-top: 45px;
}